[Unit]
Description=updateBsp
After=systemd-udevd.service network.target

[Service]
ExecStart=/otapart/webota_release/startup.sh
ExecReload=/bin/kill -HUP $MAINPID
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
